<article class="flex gap-12 mb-10">
  <div class="ring-2 ring-white rounded-2xl">
    <img
      src="/photo.jpg"
      alt="About me"
      class="p-2 rounded-2xl object-cover w-[580px] h-full"
    />
  </div>
  <div class="text-pretty pr-36 [&>p]:mb-4">
    <p>
      I am Daniel. After completing my <span class="text-yellow-200"
        >Technical Architecture</span
      > degree I decided to study the <span class="text-yellow-200"
        >DAM (Multiplatform Application Development)
      </span> degree, and from my first <span class="font-mono text-blue-400"
        >Hello World!</span
      > I fell in love with programming.
    </p>

    <p>
      After several years of experience working on support projects for
      different applications, I am currently focused on finding a job more
      centered on the developer role. <span class="text-yellow-200">
        developer role</span
      >.
    </p>

    <p>
      To achieve this, I am looking to enhance my skills by creating interesting
      and useful applications for people.
    </p>
  </div>
</article>
