---
const { filled } = Astro.props;
---

<button
  class:list={[
    `
			text-sm text-center
      font-semibold
			rounded-xl           
			px-4 py-2.5
			flex items-center gap-x-2			
			border-2
		   `,
    ,
    {
      "bg-blue-500 text-white dark:bg-blue-400/30 border-transparent hover:bg-blue-400/70 hover:dark:bg-blue-400":
        filled,
    },
    {
      "border-blue-500 text-blue-500 dark:text-white dark:border-white hover:text-white hover:border-transparent hover:bg-blue-400/70 hover:dark:bg-blue-400/70 hover:dark:border-transparent":
        !filled,
    },
  ]}
>
  <slot />
</button>
