---

---

<header
  class="fixed top-0 z-10 w-full flex justify-center items-center py-4 bg-blue-600/10 backdrop-blur-sm"
>
  <nav class="flex flex-row gap-x-10">
    <a class="hover:text-blue-400" href="/#experience">Experience</a>
    <a class="hover:text-blue-400" href="/#projects">Projects</a>
    <a class="hover:text-blue-400" href="/#about">About me</a>
    <a class="hover:text-blue-400" href="/#contact">Contact</a>
  </nav>
</header>
