---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@fontsource-variable/nunito-sans";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-red-50 dark:bg-blue-400/10 text-black dark:text-white">
    <!-- <body class="bg-red light:bg-gray-800"> -->
    <!-- <body class="bg-gradient-to-b from-slate-950 to-slate-950/90"> -->

    <Header />
    <slot />
    <Footer />

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Nunito Sans Variable", sans-serif;

        scroll-behavior: smooth;
      }

      body {
        margin: 0;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }
    </style>
  </body>
</html>
